body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(46, 48, 48);
  }
  
  header {
    display: flex;
    gap: 10px;
    padding: 10px;
    background-color: rgb(22, 1 , 1);
    color: white;
  }
  
  button {
    padding: 10px 15px;
    border: none;
    background-color: #b37400;
    color: white;
    cursor: pointer;
    border-radius: 15px;
    margin: 10px;
  }
  
  button:hover {
    background-color: #003d80;
  }
  
  .hidden {
    display: none;
  }
  
  #quotationTable {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
  }
  
  #quotationTable th, #quotationTable td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
    color : rgb(209, 237, 57);
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    background-color: rgb(22, 1 , 1);
    border: 1px solid #ccc;
    margin: 20px;
  }
  
  label {
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: rgb(249, 203, 156);
    margin : 5px;
  }

  a,h2 {
    color : rgb(209, 237, 57);
  }
  
  #addEventBtn {
    align-self: flex-start;
  }

  input,textarea {
    width : 80%;
  }
  
